@import "tailwindcss";

@theme {
  --font-sans: 'Adamina', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: 'Adamina';
    src: url('../assets/fonts/Adamina-Regular.woff2')format('woff2'),
        url('../assets/fonts/Adamina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Momo Trust Sans';
    src: url('MomoTrustSans-Bold.woff2') format('woff2'),
        url('MomoTrustSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Momo Trust Sans';
    src: url('MomoTrustSans-Regular.woff2') format('woff2'),
        url('MomoTrustSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Momo Trust Sans';
    src: url('MomoTrustSans-Light.woff2') format('woff2'),
        url('MomoTrustSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
