---
// src/pages/categorias.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CategoriasGrid from '../components/Categorias.astro'; // Importamos el componente que acabamos de crear

// Puedes cambiar el título de la página para el navegador
const pageTitle = "Categorías | Laura Porreca";
---

<Layout title={pageTitle}>
   <main class="grow">
        <CategoriasGrid />
    </main>
</Layout>