---
import { ACTION_ERROR_CODES } from "astro:actions";
---

<footer class="w-full flex justify-center">

  <div class="w-full max-w-6xl bg-[#00473e] rounded-t-3xl px-12 py-12 relative">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-10">

      <!-- Logo -->
      <div class="flex items-start">
        <img src="/LogoLaura.png" class="w-20 h-24" />
      </div>

      <!-- Categorías -->
      <div class="text-left">
        <a href="/categorias" class="text-white text-xl font-semibold mb-10">Categorías</a>
        <ul class="text-white space-y-1 mt-1">
          <a href="/categorias#ceramica" class="text-white">Cerámica</a><br>
          <a href="/categorias#pinturas" class="text-white">Pinturas</a><br>
          <a href="/categorias#tejidos" class="text-white">Tejidos</a><br>
          <a href="/categorias#mosaicos" class="text-white">Mosaicos</a><br>
          <a href="/categorias#munecas" class="text-white">Muñecas</a><br>
          <a href="/categorias#otros" class="text-white">Otros</a>
        </ul>
      </div>

      <!-- Contacto -->
      <div class="text-left">
        <a class="text-white text-xl font-semibold mb-10">Contacto</a><br>
        <a class="text-white" href="https://wa.me/+393760275469">+39 376 027-5469</a>
        <p class="text-white">laura@gmail.com</p>
      </div>

      <!-- Redes -->
      <div class="text-left">
        <a class="text-white text-xl font-semibold mb-5" href="/sobre-mi">Sobre mi</a><br>
        <a class="text-white mt-3" href="https://www.facebook.com/tallerdearte.temperley">Facebook: Laura Porreca</a><br>
        <a class="text-white mt-3" href="https://www.instagram.com/Laura_Porreca">Instagram: Laura_Porreca</a>
      </div>

    </div>

    <!-- Imagen de flores -->
    <img 
      src="/FloresFooter.png"
      alt="Flores"
      class="absolute bottom-0 right-0 w-48 md:w-56"
    />
  </div>
</footer>
