---
// src/components/Footer.astro
---

<footer class="w-full flex justify-center mt-auto">

  <div class="w-full max-w-6xl bg-[#00473e] rounded-t-3xl px-6 md:px-12 py-12 relative overflow-hidden">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-10 relative z-10">

      <div class="flex items-start">
        <img src="/LogoLaura.png" class="w-20 h-24 object-contain" alt="Logo Laura Porreca" />
      </div>

      <div class="flex flex-col text-left">
        <a href="/categorias" class="text-white text-xl font-semibold mb-2 md:mb-6 hover:text-primary transition-colors">
          Categorías
        </a>
        
        <ul class="hidden md:flex flex-col space-y-2">
          <li><a href="/ceramica" class="text-white hover:text-accent">Cerámica</a></li>
          <li><a href="/pinturas" class="text-white hover:text-accent">Pinturas</a></li>
          <li><a href="/tejidos" class="text-white hover:text-accent">Tejidos</a></li>
          <li><a href="/mosaicos" class="text-white hover:text-accent ">Mosaicos</a></li>
          <li><a href="/muñecas" class="text-white hover:text-accent">Muñecas</a></li>
          <li><a href="/otros" class="text-white hover:text-accent">Otros</a></li>
        </ul>
      </div>

      <div class="flex flex-col text-left gap-2">
        <a class="text-white hover:text-primary text-xl font-semibold mb-2 md:mb-6" href="https://wa.me/+393760275469">Contacto</a>
        <a class="text-white hover:text-accent" href="https://wa.me/+393760275469">+39 376 027-5469</a>
        <a class="text-white hover:text-accent break-all" href="mailto:porrecalaura@gmail.com">porrecalaura@gmail.com</a>
      </div>

      <div class="flex flex-col text-left gap-3">
        <a class="text-white hover:text-primary text-xl font-semibold mb-2" href="/sobre-mi">Sobre mi</a>
        <a class="text-white hover:text-accent" href="https://www.facebook.com/tallerdearte.temperley" target="_blank" rel="noopener noreferrer">
          Facebook: Laura Porreca
        </a>
        <a class="text-white hover:text-accent" href="https://www.instagram.com/Laura_Porreca" target="_blank" rel="noopener noreferrer">
          Instagram: Laura_Porreca
        </a>
      </div>

    </div>

    <img 
      src="/FloresFooter.png"
      alt="Decoración Flores"
      class="absolute bottom-0 right-0 w-32 md:w-56 pointer-events-none opacity-80 md:opacity-100"
    />
  </div>
</footer>