---

---
<header class="">
  <div class="container px-4 py-5 flex justify-between items-center">
    <img src="/LogoLaura.png" alt="Logo" class="h-24 w-20"/>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="#about" class="hover:text-gray-800">Inicio</a></li>
        <li><a href="#projects" class="hover:text-gray-800">Sobre mi</a></li>
        <li><a href="#contact" class="hover:text-gray-800">Categorias</a></li>
        <li><a href="#contact" class="hover:text-gray-800">Contacto</a></li>
      </ul>
    </nav>
  </div>