---

---
<section class="w-full px-8 py-30">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center gap-12">

    <!-- Imagen izquierda -->
    <img 
      src="/LauraPorrecaSec.png" 
      alt="Imagen izquierda"
      class="w-[300px] md:w-[350px] rounded-xl object-cover"
    />

    <!-- Texto central -->
    <div class="max-w-125 text-white font-sans text-left">
      <h2 class="text-3xl font-light mb-6">Lorem ipsum</h2>
      <p class="text-lg leading-relaxed">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula hac scelerisque eget rhoncus. 
        Eleifend nisi laoreet ridiculus nostra dignissim sollicitudin maecenas, nunc sociis dictumst torquent 
        quis pharetra, diam nascetur viverra mus molestie. 
        Montes metus donec odio ac imperdiet nisi non congue 
        Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula hac scelerisque eget rhoncus.
      </p>
    </div>

    <!-- Imagen derecha -->
    <img 
      src="/LauraPorrecaSec2.png" 
      alt="Imagen derecha"
      class="w-[220px] md:w-[250px] rounded-xl object-cover"
    />

  </div>
</section>
