---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main>
		<div>
			<h1 class="text-6xl">Laura Portfolio</h1>
		</div>
	</main>
</div>
